<%- include("templates/header") %> 
<h1>Login</h1>
<form action="/loggingin" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="username">
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" placeholder="password">
  <br>
  <button type="submit">Submit</button>
</form>
<%- include("templates/footer") %> 